body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
.tooltip .active{
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-align: center;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  
}
