.App {
  text-align: center;
}

.Methods {
  background-color: #282c34;
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.Header-description {
  color: #61dafb;
}
.Methods-body {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}
.Methods-list {
  color: #61dafb;
  font-weight: normal;
  border: 2px solid lightgrey;
  padding: 0 40px;
}
.Method {
  cursor: pointer;
  padding-top: 10px;
}
.Method:hover {
  transform: skew( -8deg);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
